<div ng-init="getComments()">
	<div>
		<h3 class="text-center">Latest Comments</h3>
	</div>
	<div>
		<form ng-submit="addComment()">
			<div class="form-group">
				<input type="text" class="form-control" id="text" placeholder="Comment here..." ng-model="comment.text">
			</div>
			<button type="submit" class="btn btn-primary">Comment</button>
		</form>
	</div>
	<div ng-repeat="comment in comments">
		<div class="card bg-light text-dark">
			<div class="card-body">
				<h4>{{comment.text}}</h4>
				<small class="form-text text-muted">{{comment.author}} | {{comment.posted_date}}</small>
			</div>
		</div>
	</div>
</div>