<div ng-init="getCommentsByPage(1)">
	<div>
		<div class="container">
			<div class="jumbotron mt-3">
				<a href="#/" ng-click="getCommentsByPage(1)">
					<h2>Latest Comments</h2>
				</a>
			</div>
		</div>
	</div>
	<div>
		<form ng-submit="addComment()">
			<div class="form-group">
				<input type="text" class="form-control" id="text" placeholder="Comment here..." ng-model="comment.text">
			</div>
			<button type="submit" class="btn btn-primary">Comment</button>
		</form>
	</div>
	<div ng-repeat="comment in comments">
		<div class="card bg-light text-dark">
			<div class="card-body">
				<p>{{comment.text}}</p>
				<small class="form-text text-muted">{{comment.author}} | {{comment.posted_date}} |
					<a href="#/" ng-click="deleteComment(comment._id)">DELETE</a>
				</small>
			</div>
		</div>
	</div>
	<div>
		<div class="jumbotron mt-3">
			<a ng-click="getCommentsByPage(1)">1</a> |
			<a ng-click="getCommentsByPage(2)">2</a> |
			<a ng-click="getCommentsByPage(3)">3</a> |
			<a ng-click="getCommentsByPage(4)">4</a> |
			<a ng-click="getCommentsByPage(5)">5</a>
		</div>
	</div>
</div>